.page.sign-in {
    
    section {
        @extend %center-content;
        padding: 1rem;
        height: 100%;
        article {            
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 600px;
            padding: 0.5rem;

            .input-wrapper {
                flex: 1 1 auto;
                padding: 0.4em;
                input {
                    font-size: 15px;
                    padding: 0.5em 0;
                    width: 100%;
                }
            }
            button {
                margin: 0 0.5em;
            }
        }
    }
}